/*
    1. Posicionamiento --> static, absolute, relative, fixed
    2. Modelo de caja (Box model) --> margin, padding, widht/height
    3. Tipografía --> fuentes, tamaño de fuentes, etc.
    4. Visuales --> box-shadow, border-radius, gradient, etc.
    5. Otros
*/
:root {
  /* Colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
  /* Fonts */
  --primary-font: "DM Sans", sans-serif;
  --secondary-font: "Inter", sans-serif;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: var(--primary-font);
  scroll-behavior: smooth;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(
    207.8deg,
    var(--warm-black) 12%,
    var(--bitcoin-orange) 100%
  );
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header-container .header-container__button {
  position: absolute;
  left: calc(50% - 114.5px);
  top: 270px;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--warm-black);
}
.header-container .header-container__button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 14px;
  background-image: url("./assets/icons/down-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}
.exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.exchange-container .exchange-container__background {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 40px;
  background-image: url(./assets/images/bitcoin.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.exchange-container .exchange-container__title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.exchange-container .exchange-container__title h2 {
  margin-bottom: 24px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-blackblack);
}
.exchange-container .exchange-container__title p {
  margin-bottom: 48px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.currency__table,
.comission__table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 290px;
  margin: 0 auto;
  font-family: var(--secondary-font);
}
.currency__table .currency__table--title,
.comission__table .comission__table--title {
  margin-bottom: 12px;
  font-family: var(--primary-font);
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.344rem;
}
.currency__table .currency__table--title {
  color: #ff9536;
}
.comission__table .comission__table--title {
  color: var(--secondary-blue);
}
.currency__table .currency__table--container,
.comission__table .comission__table--container {
  width: 90%;
  min-width: 197px;
  max-width: 300px;
  height: 159px;
  margin: 0 auto;
}
.currency__table--container table,
.comission__table--container table {
  width: 100%;
  height: 100%;
}
.currency__table--container td,
.comission__table--container td {
  width: 50%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.936;
  color: #b5b0ac;
  background-color: var(--just-white);
}
.currency__table--container .table__right span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.currency__table--container .down {
  background-image: url("./assets/icons/trending-down.svg");
}
.currency__table--container .up {
  background-image: url("./assets/icons/trending-up.svg");
}
.currency__table--date,
.comission__table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
}
.currency__table--date {
  background-color: var(--soft-orange);
}
.comission__table--date {
  background-color: var(--soft-blue);
}
.currency__table--date p,
.comission__table--date p {
  font-size: 1.2rem;
  line-height: 1.452rem;
  color: var(--warm-black);
}
.table__top-left {
  border-radius: 8px 0 0 0;
}
.table__top-right {
  border-radius: 0 8px 0 0;
}
.table__bottom-left {
  border-radius: 0 0 0 8px;
}
.table__bottom-right {
  border-radius: 0 0 8px 0;
}
td.table__right {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.694rem;
  color: #757575;
}

.benefit-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.benefit-container__batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: calc(0% - 12.5px);
  left: calc(50% - 20px);
  background-image: url("./assets/icons/batata.svg");
}
.benefit-container__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.benefit-container__title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.benefit-container__title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
.benefit-container__product--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.benefit-container__product--card .icon-card {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.clock {
  background-image: url("./assets/icons/clock.svg");
}
.eye {
  background-image: url("./assets/icons/eye.svg");
}
.dollar {
  background-image: url("./assets/icons/dollar-sign.svg");
}
.check {
  background-image: url("./assets/icons/check-circle.svg");
}
.benefit-container__product--card .product--card__title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.benefit-container__product--card .product--card__body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.services-plans {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.services-plans__title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 34px;
}
.services-plans__title h2 {
  padding-top: 64px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--warm-black);
}
.services-plans__title p {
  padding-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}
.services-plans__container--card {
  position: relative;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 247px;
  margin: 50px auto 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.card__recommended {
  position: absolute;
  width: 101px;
  height: 31px;
  padding: 8px;
  top: calc(0% - 15.5px);
  left: calc(50% - 50.5px);
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1.5rem;
  background-color: var(--bitcoin-orange);
  border-radius: 8px;
  color: var(--just-white);
}
.card__info .card__info--title {
  padding: 31px 0 5px 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: black;
}
.card__info .card__info--price {
  position: relative;
  padding: 5px 0;
  font-family: var(--secondary-font);
  font-size: 5.2rem;
  font-weight: bold;
  line-height: 6.3rem;
}
.card__info .card__info--price span{
  position: absolute;
  top: 14px;
  left: calc(50% - 45px);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: #363636;
}
.card__info .card__info--saving {
  padding-top: 10px;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.452rem;
  color: #757575;
}
